# Core Platform Settings
SECRET_KEY=your_django_strong_key
DEBUG=True
ALLOWED_HOSTS=localhost,127.0.0.1,your-project.vercel.app

# Database Options
# Leave blank to fallback to SQLite
DATABASE_URL=postgres://user:password@aws-0-us-west.pooler.supabase.com:6543/postgres

# Twilio OTP Service (for NodeJS and Python)
TWILIO_ACCOUNT_SID=AC_dummy_account_sid
TWILIO_AUTH_TOKEN=auth_token_here
TWILIO_PHONE_NUMBER=+1234567890

# Artificial Intelligence Integrations
GEMINI_API_KEY=AIzaSyDcrI7R4Q...
OPENAI_API_KEY=sk-proj-Bada5...
